[2015-03-09 15:14] jchannon opened #1 "How do you add this to Xamarin Studio?"
I'd like to use this in XS, is there a installation package available?

[2015-03-09 16:04] x2bool commented on #1
I will publish the package soon. If everything goes well, you should see the addin at the official Xamarin Studio repository tomorrow.

[2015-03-09 16:05] jchannon commented on #1
Brill! Thanks

On 9 March 2015 at 16:04, Sergey Khabibullin notifications@github.com
wrote:

[2015-03-10 09:09] jchannon commented on #1
Please let me know when its up!

On 9 March 2015 at 16:05, Jonathan Channon jonathan.channon@gmail.com
wrote:

[2015-03-10 10:17] x2bool commented on #1
It is already (at least 12 hours). Can you see the addin in the repo?

[2015-03-10 10:19] jchannon commented on #1
No, do I need to add a new repository?
![screen shot 2015-03-10 at 10 18 33](https://cloud.githubusercontent.com/assets/105126/6573028/e95b6864-c70e-11e4-822b-b583859f2693.png)

[2015-03-10 12:45] x2bool commented on #1
![screen shot 2015-03-10 at 14 45 00](https://cloud.githubusercontent.com/assets/892945/6575023/e8513b92-c73b-11e4-8c21-df9585e10cd3.png)

Make sure you have clicked the "Refresh" button. Also you could install the addin manually. Download here: http://addins.monodevelop.com/Project/Index/160

[2015-03-10 12:58] jchannon commented on #1
Got it working! Thanks. Will try and help get run tests per class, per test added!

[2015-03-10 12:58] #1 closed, assigned to nobody

[2015-03-10 14:11] jchannon opened #2 "Run Tests per Class"
Have the ability to run all tests in a class

[2015-03-10 14:11] jchannon opened #3 "Run individual Test"
Ability to run single test

[2015-03-10 14:11] jchannon opened #4 "Debug tests"
Ability to debug unit tests

[2015-03-10 14:37] x2bool commented on #2
???
You should be able to run all tests in a class as well as individual tests. For me debugging also works.
![screen shot 2015-03-10 at 17 33 24](https://cloud.githubusercontent.com/assets/892945/6576983/c90f926e-c74b-11e4-9416-889bed00c911.png)

[2015-03-10 14:42] jchannon commented on #2
Ah I didnt see that UI, I only saw the Test Results pane. This is great thanks!

I just tried debug but it doesnt seem to see local variables in the test

![screen shot 2015-03-10 at 14 41 10](https://cloud.githubusercontent.com/assets/105126/6577141/9e24d4dc-c733-11e4-951c-5929711f38da.png)

[2015-03-10 14:42] #4 closed, assigned to nobody

[2015-03-10 14:42] #3 closed, assigned to nobody

[2015-03-10 14:44] x2bool commented on #2
For some reason Xamarin Studio's maintainers removed the "Run" and "Debug" buttons some time ago. So yeah, today the right click menu is the only way.

[2015-03-10 14:45] jchannon commented on #2
Right click is fine, any ideas why the debugging doesnt seem to work?

[2015-03-10 14:49] x2bool commented on #2
Seems like a debugger issue to me! The addin has very little to do with the debugger. But I am not sure!

[2015-04-13 05:57] roman-yagodin opened #5 "Error message on install (uninstall) on MonoDevelop 5.7"
Then trying to install (or uninstall) xUnit add-in on MonoDevelop 5.7 (from official Xamarin Debian repository), following error message displayed: "Could not read add-in description". After install, add-in listed in installed, but no new project nor file types are available.

[2015-04-13 15:02] x2bool commented on #5
I can't reproduce the "Could not read add-in description" issue. However, there are indeed no new project nor file types available. I will look at this.

[2015-04-17 10:54] #2 closed, assigned to nobody

[2015-05-22 12:33] omares opened #6 "How to run?"
The documentation for the plugin is very sparse and a simple installation does not run any xunit tests at all for us.

Could you please answer following questions:
- Which nuget packages should be installed?
- What steps are required to get the plugin to run?

Thank you

[2015-05-22 19:23] x2bool commented on #6
Hi! Sorry for the lack of documentation. I hope it will be released soon.

You have to reference xunit dlls to get the plugin working (so far only versions 1.x are supported).
The http://www.nuget.org/packages/xunit/1.9.2 package works for me.

Make sure you reference 1.x dlls. This is the most common reason why people can't get the plugin to work with their projects.

[2015-05-31 00:45] jacqueline-homan opened #7 "Unable to install xUnit.net 2.0.0 package for F# project in Monodevelop/.NET 4.0"
I am working through a Pluralsight tutorial for F# on Testing. I am on a Linux (Ubuntu) computer and using Monodevelop. I get an error message that says " Could not install package 'xunit.extensibility.core 2.0.0.' You are trying to install this package into a project that targets '.NET framework, Version=4.0', but the package does not contain any assembly references or content files that are comp

[2015-05-31 03:25] bradwilson commented on #7
xUnit.net 2.0 requires .NET 4.5 or later.

![](http://i.imgur.com/wtMyAYC.png)

[2015-05-31 06:09] jacqueline-homan commented on #7
Brilliant :) I changed my project's options to Mono/.NET 4.5, closes and repopened my solution and then installed xUnit.net which installed perfectly.

[2015-05-31 06:11] #7 closed, assigned to nobody

[2015-05-31 23:06] jacqueline-homan commented on #5
This is what I get...
![screenshot from 2015-05-31 19 05 45](https://cloud.githubusercontent.com/assets/3537889/7904424/2045350e-07c8-11e5-855e-a15bb5d59f0e.png)

![screenshot from 2015-05-31 19 07 45](https://cloud.githubusercontent.com/assets/3537889/7904434/66330b22-07c8-11e5-9939-3d0a50daf007.png)

[2015-06-01 10:22] x2bool commented on #5
@jacqueline-homan Is NUnit addin installed and enabled? What version does it have?

[2015-06-01 20:02] jacqueline-homan commented on #5
@x2bool , I have NUnit installed. And the only package of NUnit that was available to me to install was v2.6.4. Having this level of difficulty with the ONLY IDE available to me for F# as someone on a Linux machine is extremely disappointing, as I am trying to work through the Pluralsight tutorials (which are all given in Visual Studio, which I don't have and can't use as I am on Linux) to learn F

[2015-06-08 02:19] emitelma commented on #5
I am not getting "Run Item" in Project context menu. How do I run the tests? No new Project or File types. I am using Xamarin Studio running on a Mac.

[2015-06-08 07:20] x2bool commented on #5
Alright, I am downgrading to the previous version until I can figure out what's going on. Expect plugin update soon.

[2015-06-08 15:08] emitelma commented on #5
@x2bool Apologies for the confusion. I'd like to clarify something. I am running a Mac with XamarinStudio v5.8.3 (Build 1) and I had no errors during install of xUnit add-in from Gallery. But I don't get "Run Item" context menu nor no new Project or File Types. NUnit works ok. ( Mono 3.12.x )

[2015-06-14 12:23] x2bool commented on #5
The plugin is reverted to the previous version and published.

Instructions:
1) Install the plugin using Xamarin Studio's addin manager
2) Make sure NUnit and xUnit plugins are _enabled_
3) Install xUnit libraries manually or using NuGet (Install-Package xunit -Version 1.9.2)
4) Again, make sure it's 1.9.x, and not 2.x
5) Build your project
6) At this point you should see your tests on the "Unit t

[2015-06-20 00:07] omares commented on #6
Hey @x2bool, any news on the 2.0.0 support?

[2015-06-23 09:37] x2bool commented on #6
@omares Not yet. The last time I checked the 2.0 runner didn't work on Mono.

[2015-07-02 19:47] sushihangover opened #8 "Error loading template id XUnitProject in addin MonoDevelop.XUnit.XUnit"
Installing version 0.5 via the add-in manager in XS  5.9.4, I receive the following in the IDE log when starting XS:

[code]
#### Install info:

Xamarin Studio
Version 5.9.4 (build 5)
Runtime:
    Mono 4.0.2 ((detached/c99aa0c)
    GTK+ 2.24.23 (Raleigh theme)
    Package version: 400020005

[2015-07-09 10:12] roman-yagodin commented on #5
I was able to add xunit 1.9.2 to the solution and even build tests project, but soon after that Xamarin Studio (on Windows) start crushing on solution load during package update.

Also, 1.9.2 missing many useful features (e.g. TheoryAttribute).

[2015-07-09 11:21] x2bool commented on #5
@roman-yagodin I think you have to install xunit.extensions package to have theories in 1.x.

[2015-07-10 06:59] roman-yagodin commented on #5
Still no progress with XS 5.9.2 - I've added xunit and xunit.extensions 1.9.2 to the library type project, add references to them, tests project build OK, NUnit & xUnit addins are enabled - but still no tests seen in the Unit tests pad, and soon after XS start crushing on solution load during package update.

[2015-07-10 13:33] x2bool commented on #5
This is wierd! It works for me just fine, but so many people seem to have problems. I will test everything with a fresh Linux installation. Can't promise anything with Windows and Mac though.

[2015-07-13 11:38] tomitrescak commented on #8
:+1: same here

[2015-07-13 11:44] tomitrescak commented on #8
Downgraded to 5.8.4. Same Error

[code]

[2015-07-13 14:16] tomitrescak commented on #6
Still no luck for me:

[code]

Test runner is not picking up the tests :/

[2015-07-25 03:00] eatdrinksleepcode commented on #6
I also have version 1.9.2 of xunit and the test runner will not find the tests. Any ideas?

[2015-07-27 11:49] jchannon opened #9 "Enable ability to stop debugging"
Once I debug a test and maybe half way through see a problem and want to cancel debugging clicking the stop button in Xamarin Studio doesn't do anything and sometimes I have to close Xamarin and reopen due to the nature of the test.

[2015-09-02 15:35] molinch commented on #6
Thanks for the great job!
Hi @x2bool do you have any plan to integrate xUnit2?

[2015-09-04 13:56] x2bool commented on #6
Hi, everyone. I finally have some time to work on the project. Let's see what I can do.

[2015-09-05 08:38] x2bool commented on #6
@molinch Seems like I can't do anything until mono 4.2.0 is released. The runner doesn't work properly on 4.0.3. You can find more info here: https://github.com/xunit/xunit/issues/158

[2015-10-28 22:16] valdetero commented on #6
Since mono 4.2 and xUnit 2.1 are released, is this issue resolved?

[2015-11-03 16:41] x2bool commented on #6
@valdetero No, it won't be resolved by itself. Some amount of work is required to run 2.0 tests. Can't promise anything, but at least I can look whether the runner still crashes on mono.

[2016-01-24 07:17] lextm commented on #6
Tried to use xUnit.net 2.2.0 beta 1 on Mono 4.3.3 and OS X El Capitan, and it seems to work without exceptions.

I think it is better to have xUnit.net 2.\* support enabled by default, and allow users to disable that if it fails to work. Right now we just have no option to choose but to wait.

[2016-01-24 19:29] x2bool commented on #6
@lextm Seems like xunit/xunit#158 is still open. The last time I checked it had the same problems as before. This stuff with AppDomains is really tricky.

[2016-01-30 09:28] dmunch commented on #6
@x2bool The issue is closed now, and I can confirm I'm able to run unit tests on Mono 4.2 wit the xunit console runner. Is there any more work expected to make the Xamarin Studio Plugin work with xUnit 2.\* ? I'd really love to see it working soon, and if there's anything we can do for giving a helping hand let us know!

[2016-02-06 09:17] x2bool commented on #6
Hi everyone! Short update: the framework seems to work well with the latest Mono version, but there is another problem: the original Xamarin Studio's runner is really hard to extend and tightly coupled with NUnit. I've already been doing some hacky stuff to support xunit 1.0. The 2.0 version brings additional complexity and it will be a nightmare to support all that.

The good news is that I am in

[2016-02-06 10:36] jacqueline-homan commented on #6
OK. Just want to chime in here. I have Xamarin Studio on my Mac and Monodevelop on my Debian-Linux. The Monodevelop does not behave the same as the Xamarin does. When you mouse over code, you don't get that Intellisense window that pops up and tells you about the type signature or anything like you do with Xamarin. And also, there are hardly any features at all available to me on the Monodevelop f

[2016-02-06 11:21] jacqueline-homan commented on #6
At least I can do most F# stuff (if I couldn't do any F# stuff in Mono I'd be really cranky),except WebSharper. Since Monodevelop's update, I think that the issue of running WebSharper in it might be fixed. I haven't tried using it yet, so I don't know.

[2016-02-06 12:28] x2bool commented on #6
@jacqueline-homan How is this related to xUnit test runner?

[2016-02-06 13:02] jacqueline-homan commented on #6
xUnit may be one of the things that don't always work reliably in
Monodevelop. That's all I was trying to say.

On Sat, Feb 6, 2016 at 7:28 AM, Sergey Khabibullin <notifications@github.com

##

[image: --]
Jacqueline Homan
[image: http://]about.me/jacqueline_homan
http://about.me/jacqueline_homan

[2016-02-06 15:18] lextm commented on #6
@x2bool I was trying to build and debug this addin today and finally got it compiled and launched in MonoDevelop on Linux. Neither Xamarin nor you put a "how to contribute" doc somewhere so that wasting my time on both OS X and Windows before trying Linux.

Yes, it is weird to me that this addin depends on the NUnit addin. If you do plan to rewrite it from scratch, do you already have the code som

[2016-05-02 08:07] lextm commented on #6
Closed #10, as I published a separate addin http://addins.monodevelop.com/Project/Index/220

MonoDevelop/Xamarin Studio has changed a lot in 6.0, which makes it almost a rewrite to support that new IDE. I will try to work under https://github.com/lextm/xamarinstudio.xunit/tree/6.0

And if anyone wants to join the hack, let me know.

[2016-05-23 02:40] lextm commented on #6
Just an update here that my fork now supports both
- MonoDevelop/Xamarin Studio 5.x
- MonoDevelop/Xamarin Studio 6

Should still be considered as beta quality, as many basic functionality is still missing, but the progress looks good.

[2016-05-23 09:48] x2bool commented on #6
Hi @lextm! Would you like to take over this repo? I don't really have time to work on this, and I don't work with Xamarin Studio at the moment. Your progress seems great.

[2016-05-23 13:47] lextm commented on #6
@x2bool I am OK to take ownership of this repo and drive it further. Let me know what I should do on my side to take it over.

[2016-05-23 15:00] x2bool commented on #6
@bradwilson Can you please give the access to @lextm? His fork is probably a step forward since a lot of things have changed in Xamarin Studio in version 6.0, and I think it's better to keep the updated version of this plugin here. What do you think?

[2016-05-23 17:39] bradwilson commented on #6
@x2bool @lextm Okay, I've removed the old team, and added both of you as individual administrators for this project.

[2016-05-24 07:30] lextm opened #11 "Tasks to reactivate this project"
- [x] Make better usage of labels.
- [x] Clean up copyright notices.
- [ ] Set up CLA.
- [x] Move MonoDevelop/Xamarin Studio 6.0 support back from a fork.
- [x] Revise contribution guide to accept community contribution.
- [x] Set up templates for issues and pull requests.

There can be more so will update this item frequently in the next few days.

[2016-05-25 15:10] tetious opened #14 "Rerun tests button does not rerun tests"
Thanks for picking up this project!

When running with xunit 2 on MonoDevelop 6, the Rerun Tests button seems to be non-functional. My expectation is that it will rerun the most recent test(s), but instead it seems to rebuild the test project and then do nothing.

[2016-05-28 07:23] lextm commented on #14
Note that "Rerun Tests" button is on Test Results panel. Will do further investigation on this issue. Thanks for reporting it.

[2016-05-28 07:29] lextm commented on #9
Confirmed that it is a critical issue.

[2016-05-28 07:35] lextm commented on #8
Can anyone try to install 0.5.2 following Readme.md on Xamarin Studio 5.10? I think it has been resolved already.

[2016-05-28 07:36] lextm commented on #5
Can anyone try to install 0.5.2 on Xamarin Studio 5.10 following readme.md? I think this issue has been resolved.

[2016-05-28 08:30] lextm commented on #9
Initial investigation indicates that for 0.5.x of this add-in, some required interface is not yet fully implemented (XUnitExecutionSession does not implement ITestProgressMonitor). That prevents cancellation from UI to the related code.

It would be difficult to resolve such issues for 0.5.x, as the related interfaces also change in MonoDevelop/Xamarin Studio 6.0, and we will focus more on 0.6.0 b

[2016-05-28 13:20] lextm opened #15 ""Show test source code" does not work in 0.6.0 build"
Source code location information is not yet available so this feature does not work.

[2016-05-28 13:21] lextm commented on #15
Fixed in 8c60b146718fd7af36d25b9fb2a312a685965b5b

[2016-05-28 13:21] #15 closed, assigned to lextm

[2016-05-28 14:02] lextm opened #16 "Individual test cases cannot be debugged via "Debug test""
The remote process does not respond to MonoDevelop/Xamarin Studio debugger.

[2016-05-28 14:02] lextm commented on #16
Wrong process service method was used.

Fixed in 829024dfa89953eeafb4e189b20a70a4ebe2f9b5

[2016-05-28 14:02] #16 closed, assigned to lextm

[2016-05-29 02:54] lextm opened #17 "[Theory] test cases are not supported"
This leads to exceptions in `XUnitTestRunner.BuildTestInfo`. So [Theory] test case names are not properly handled.

[2016-05-29 02:55] lextm commented on #17
@z28wang will take care of this and send a pull request.

[2016-05-29 06:21] lextm commented on #17
Fixed in #19

[2016-05-29 06:21] #17 closed, assigned to nobody

[2016-05-29 07:17] lextm opened #20 "Avoid duplicate items in Add-in Manager"
The [original add-in](http://addins.monodevelop.com/Project/Index/160) is still alive and keeps publishing.

We might stop it in favor of [the new entry](http://addins.monodevelop.com/Project/Index/220).

[2016-05-29 07:17] lextm commented on #20
@x2bool do you think we can stop the original entry?

[2016-05-29 08:50] x2bool commented on #20
I don't know how to signin to the site. I used an Open ID account to publish the addin. Open ID for this account doesn't seem to work for me anymore. So I think that our best bet is to write to Xamarin and ask for manual removal. Any ideas how to contact them?

[2016-05-29 10:41] lextm commented on #20
Hi, leave that to me. I will contact them and update here.

[2016-05-29 12:17] lextm commented on #14
Just found that this issue might be caused by an unhandled exception,

[code]

This `TestSession` constructor is called in `UnitTestServices`, in this method

[code]

This overloading method is called by another version,

[code]

In turn, this method is used in "Rerun Tests" button in `TestResultsPad`,

[code]

Note that the second parameter is indeed `null`, which leads to the final exception.

[2016-05-29 12:22] lextm commented on #14
More testing shows that NUnit in Xamarin Studio 6.0 also failed at this exception. Related code indicates a possible bug. Will report back to Xamarin.

[2016-05-29 13:12] lextm commented on #14
Opened [bug#41369](https://bugzilla.xamarin.com/show_bug.cgi?id=41369).

[2016-05-30 08:41] lextm commented on #14
Temp close this as there is not much we can do on our side. Once the MonoDevelop/Xamarin bug is closed, will revisit this.

[2016-05-30 08:41] #14 closed, assigned to nobody

[2016-05-30 08:42] lextm commented on #8
Temp close this one, as I could not reproduce it with latest IDE and this add-in.

Can re-open it if anyone meets the issue again.

[2016-05-30 08:42] #8 closed, assigned to nobody

[2016-05-30 08:45] lextm commented on #6
Temp close this long thread.

The documentation on how to install the add-in has been added to Readme.md. Running it is quite similar to how to run the NUnit add-in.

New issues should be opened if anything requires further attention. Thanks.

[2016-05-30 08:45] #6 closed, assigned to nobody

[2016-05-30 08:46] lextm commented on #5
Temp close this one.

If anyone still suffers the installation issue, please re-open it.

[2016-05-30 08:46] #5 closed, assigned to nobody

[2016-05-30 09:21] roman-yagodin commented on #5
0.5.2 working fine, thanks!

[2016-05-30 12:32] lextm opened #21 "xunit.runner.json should be supported"
Settings in `xunit.runner.json` should be supported, but currently they are not read.

[2016-06-09 08:35] lextm commented on #20
Xamarin has just pushed 6.0 to stable channel, so expect developers migrate to that version. The good news is that once all developers move, then they only see the new add-in in Add-in Manager.

Close this issue now as resolved.

[2016-06-09 08:35] #20 closed, assigned to x2bool

[2016-06-10 23:46] autonomy-rocks opened #22 "Exception when opening solution with xUnit test project on Windows"
I'm using the latest stable version of Xamarin Studio 6.0.

I'm using all the latest xUnit NuGet packages for my test project.

Upon opening the solution that includes the test project, I get a fatal error. I cloned the repository (6.0 branch) and ran the add-in project, which starts a new Xamarin Studio instance with the add-in installed. When I open the project I get the following exception in t

[2016-06-11 00:02] autonomy-rocks commented on #22
And if I switch xunit.runner.utility to version 2.1.0 and fix the compilation errors (change all instances of `using (var controller = new XunitFrontController(assembly, null, false))` to `using (var controller = new XunitFrontController(AppDomainSupport.IfAvailable, assembly, null, false))`) then I get the following stack trace with the same exception.

System.InvalidCastException: Unable to cast

[2016-06-11 06:08] autonomy-rocks commented on #22
I've managed to solve this problem by making the following modifications in `XUnitTestLoader.RunAsyncLoadTestInfo`. However, the project still doesn't work as expected (tests completely fail to run, even though they're now detected). It seems this exception is caused somehow by being in an external process.

[code]

[2016-06-11 12:27] lextm commented on #9
The initial investigation went on the wrong direction.

By disabling the remoting helper in `XUnitTestExecutor.Run`, I can see that cancellation works fine. So it seems that passing `executionListener` (along with the cancellation token) across the process boundary has led to the issue.

Need to further investigate on how to properly handle that.

[2016-06-11 12:43] lextm commented on #9
The fix is included in 0.6.3.

[2016-06-11 12:43] #9 closed, assigned to nobody

[2016-06-11 12:47] lextm commented on #22
Please provide a smallest reproducible sample project with steps to show me how to reproduce.

Your changes so far do not yet hit the root cause, so I'd like to do more debugging. Thanks.

[2016-06-11 12:53] lextm commented on #21
Might refer to https://github.com/xunit/visualstudio.xunit to see how this json file can be read and used.

[2016-06-11 20:27] autonomy-rocks commented on #22
I don't know how to explain it with any more detail than that. It's a problem with AppDomains.

From what I understand, the problem is that you've created a thread to load the tests, and then within that thread you also try to create an external process. And then within that external process, you try to create an instance of `XunitFrontController` which tries to do some reflection. I don't quite u

[2016-06-12 02:21] lextm commented on #22
Whether the issues you met is related to app domains is unclear. You modified the code without fully understanding it, and that's why I asked for a sample project to debug on my own.

It is interesting that everybody would like to have a "complete rewrite", instead of really understand the code first and move it in the right direction. You can take your time if you intend to, as that's your time.

[2016-06-12 02:34] autonomy-rocks commented on #22
I'm using xUnit 2.1 in all of my projects. I've tried getting this project to work with the default 2.1.0-beta1 version, standard 2.1.0, and 2.2.0-beta, and all have similar issues.

I didn't think that running the tests in a local instance was a good solution. I was just testing that to see where the issue was. As far as using threads, from what I understand, the actual loading of the test data i

[2016-06-12 02:36] autonomy-rocks commented on #22
As far as reproducing the issue, my operating system is Windows 10 32 bit and I'm using the latest XS 6.0 stable. All I did was add the add in from within Xamarin Studio and open a xUnit test project. Upon opening the project, for me it causes a fatal error. Sometimes I had to click the run menu or open the unit tests pad and click run all to get the fatal error. But essentially, as soon as it att

[2016-06-12 03:03] lextm opened #23 "Update to xunit.runner.utility 2.1.0"
Previously 2.1.0 beta1 is being used, which might lead to compatibility issues.

[2016-06-12 03:04] lextm commented on #23
Closed in c9e4cdecaaae2c052b72b90b26c675983405dbcc

[2016-06-12 03:04] #23 closed, assigned to nobody

[2016-06-12 03:21] lextm opened #24 ""Text editor unit test integration" is not supported"
Xamarin Studio 6 introduces the concept of "Enable text editor unit test integration" under Preferences | Text Editor | Source Analysis, which is not enabled by default.

It works for NUnit, but not yet for xUnit. Should investigate to see how the integration should be implemented.

[2016-06-12 06:55] lextm commented on #22
The fatal exception was caused by .NET Remoting related exceptions. It seems that the mdhost.exe failed to load the necessary assemblies into itself.

This only happens on Windows, so I guess it's either caused by Xamarin Studio's Windows build, or .NET Framework.

Will soon publish a new build to address the crash, but I did not yet let the test cases run.

[2016-06-12 06:58] lextm commented on #22
If you do want to debug mdhost.exe, the tip is as below,
1. Insert `Thread.Sleep(20000)` in `XUnitTestRunner.Execute` so that mdhost.exe hangs for the debugger to attach.
2. Use WinDbg to attach to that process and debug the managed exception.

[2016-06-12 07:01] lextm commented on #22
Fixed in 2e148f903cb04605055305ef575fa5c29fe9ca00

[2016-06-12 07:02] lextm opened #25 "xUnit test cases do not run on Windows"
After fixing #22 the test cases can be discovered and displayed on the panel.

However, execution of them leads to .NET remoting related exceptions so no result can be collected.

[2016-06-12 07:03] lextm commented on #22
Open #25 to track the remaining task.

[2016-06-12 07:19] autonomy-rocks commented on #22
Switching to NullSourceInformationProvider didn't actually solve the problem. An Exception is still thrown. The new Exception is now:

[code]

[2016-06-12 11:33] lextm commented on #22
I think after some further debugging I am able to tell the root cause. So re-opening this issue.

WinDbg gives the following AppDomain report,

[code]

According to [this blog post](https://blogs.msdn.microsoft.com/suzcook/2003/07/21/assembly-identity/), the two copies of `xunit.abstractions.dll` loaded are considered "different from each other". Thus, casting types can easily lead to exceptions w

[2016-06-12 11:51] lextm commented on #22
Disabling app domain seems to resolve this on Windows to make unit test case discovery work. Fixed in c605f046941cfc869620c66f96cb7149d626a29e

However test cases cannot run yet. There is another exception to address which will continue under #25

[2016-06-12 11:51] #22 closed, assigned to lextm

[2016-06-12 12:02] lextm commented on #25
The new exception is as below,

[code]

WinDbg shows that the remoting process was trying to deserialize XUnitTestInfo objects from add-in, but failed to do so as it could not find the assembly.

However, `!DumpDomain` shows the assembly has been loaded to Domain 1. So not sure what's up on .NET remoting yet.

[2016-06-12 12:17] lextm commented on #25
Before this issue is resolved, since Visual Studio has xUnit.net support, you can use Visual Studio as a workaround.

We might get rid of .NET remoting, which should then resolve this issue too. But that's going to take much more time.

[2016-06-12 12:53] lextm commented on #25
After using JSON.NET to serialize XUnitTestInfo objects (instead of relying on .NET remoting's own), that exception is resolved.

The latest exception is,

[code]

Still it seems to be a .NET remoting issue.

[2016-06-12 13:27] autonomy-rocks commented on #25
Might be relevant.

http://spazzarama.com/2009/06/25/binary-deserialize-unable-to-find-assembly/

[2016-06-12 13:53] autonomy-rocks commented on #25
For easier debugging, you can also do something like the following. It will output the exceptions to the Application Output window when debugging the add-in.

[code]

[2016-06-12 15:04] lextm opened #26 "Follow NUnit add-in style to get rid of .NET remoting"
There are issues related to .NET remoting, so we should attempt to get rid of it. The NUnit add-in again provides the basic building blocks. Just need to follow that example to develop two console runners (or a single one if the xUnit runner can support both v1 and v2).

[2016-06-12 15:05] lextm commented on #25
I already did that. Thanks.

Created #26 to track the progress on migrating away from .NET remoting.

[2016-06-13 03:11] autonomy-rocks commented on #26
I've rewritten the project from scratch. So far I've managed to load tests using the new NUnit add-in style. All that's left is to write the Execute functionality in XUnitRunner. Perhaps you would be better at this than myself. I'm struggling a bit with it because I'm not familiar with xUnit's API. Odds are you're far more familiar with it than I am.

I'm not sure if you would want to use my proje

[2016-06-13 09:57] autonomy-rocks commented on #26
I've managed to get tests to populate and run. The only thing that's left to do now on the code I linked is fix reporting. It was working at one point, but it wasn't working correctly. Only the actual tests themselves and the first couple root nodes were showing the correct icons for the test results. The rest were stuck blank. Currently reporting is completely broken because of some unknown reaso

[2016-06-13 10:05] autonomy-rocks commented on #24
In order to get this to work you will most likely have to create your own implementation of https://github.com/mono/monodevelop/blob/master/main/src/addins/CSharpBinding/MonoDevelop.CSharp.UnitTests/CSharpNUnitSourceCodeLocationFinder.cs. I'm fairly certain the reason it currently doesn't work is because the implementation used currently is the NUnit implementation, which probably won't work with

[2016-06-13 10:11] autonomy-rocks commented on #26
Also, you're more than welcome to copy my code if you wish. It currently has no licensing. I'm not attached to the code, and I'm more interested in getting a stable xUnit runner in MonoDevelop 6. So you can attach whatever license you like to the code and put it in this repository. Apologies in advance for the fact there is no attribution in the code I created and the license headers are all missi

[2016-06-13 12:59] lextm commented on #26
@tstivers1990 The rule of thumb for open source, is that you should keep your copyright and choose a suitable license (MIT or any other, or even public domain). "So you can attach whatever license" is in fact not the way we commonly use.

I think you have got my idea by experimenting the things out, but as you discovered it is not an easy task to get it 100% correct. Instead of rushing to your cod

[2016-06-14 09:21] lextm commented on #26
Below is the plan to "follow" the NUnit add-in style (but not to clone it),
- [x] Develop a console runner which can be tested separately.
- [x] Evaluate the protocol NUnit add-in uses to see if we can simplify that.
- [x] Implement the protocol between the console runner and xUnit add-in.
- [ ] Create unit test cases if possible.
- [ ] Create documentation on how we design and implement the proto

[2016-06-14 12:58] x2bool commented on #26
By the way this whole thing shows how unreasonably complex XS's test runner is. When I did research on this, my conclusion was that actually only two framework-specific components were needed: 1) Test discovery - extracts meta information from a test project. 2) Test runner - actually runs tests. The fact that each framework needs to implement things such as test tree building and the things descr

[2016-06-14 14:51] lextm commented on #26
@x2bool if XamarinStudio can accept VS test adapters, then we don't even need to maintain this separate project.

So will monitor actively Xamarin's plan on Xamarin Studio, and see how much we can reuse the existing bits. The above task list shows small steps that we can easily track while waiting for further news from Microsoft/Xamarin.

[2016-06-18 02:57] lextm commented on #21
Fixed in #27

[2016-06-18 02:57] #21 closed, assigned to nobody

[2016-06-20 09:51] bpiepiora opened #28 "Downloaded mpack of xUnit2 addin 0.5.3 not working with MonoDevelop 5.10 anymore"
Hi!

The download of the xUnit addin 0.5.3 (Stable) under http://addins.monodevelop.com/Project/Index/220 points to the wrong version (0.6.5). Currently it's impossible to get the xUnit2 addin running under MonoDevelop 5.10.

[2016-06-20 10:52] lextm commented on #28
Can you use Add-in Manager of MonoDevelop to install then? I will see into it tonight.

[2016-06-20 11:26] bpiepiora commented on #28
No, that doesn't work either. The Add-In Manager also installs the version for MonoDevelop 6 which cannot be loaded.

[2016-06-20 15:11] lextm commented on #28
I just published 0.5.4 and tested the steps.

It seems that Add-in Manager always shows 0.6.5 right now, which is wrong.

You have to manually download the mpack file for 0.5.4, and install from that file. I have tested and it works on my Ubuntu.

[2016-06-20 16:09] bpiepiora commented on #28
It works now, thank you!

[2016-06-20 16:14] bpiepiora commented on #28
Sorry! I have a problem executing the tests. With the activated 0.5.4 Add-In MonoDevelop shuts down with a fatal error, when I right click on the Test project in the Solution Explorer.

[2016-06-20 23:48] lextm commented on #28
@bpiepiora That sounds like another issue. Can you create a new issue and paste more details (especially a step by step guide for me to reproduce it)? Launch MonoDevelop at terminal and then reproduce the issue, so that at terminal you might see more info about the crash.

I tested with https://github.com/lextm/obfuscar, which has many test cases, but could not reproduce the fatal error you mentio

[2016-06-21 08:05] bpiepiora commented on #28
Okay, I found the problem. There was a project reference to an older xUnit beta version aside the current version in my C# project file. After removing this reference the fatal error didn't popup again.

btw: interesting obfuscator project ;)

[2016-06-21 08:05] #28 closed, assigned to lextm

[2016-06-21 15:08] lextm commented on #28
Great. Thanks for sharing the solution as it might help others out.

[2016-06-23 05:55] jasontseu1983 opened #29 "Xamarin Studio 6.0.1 Support"
Currently the addin is not loaded with the latest Xamarin Studio version 6.0.1.

[2016-06-23 15:11] lextm commented on #29
Thanks. Many other add-in suffers the same issue and I am hoping Xamarinti solve that instead of us.

[2016-06-25 01:22] lextm commented on #29
https://bugzilla.xamarin.com/show_bug.cgi?id=42089

Xamarin tracks this issue here.

[2016-06-27 03:42] jasontseu1983 commented on #29
Issue closed.

I also verified latest fix 6.0.1.9 too

[2016-06-27 03:42] #29 closed, assigned to nobody

[2016-07-03 02:13] lextm opened #30 "Crash on OS X in Xamarin Studio 6"
[code]

[2016-07-04 15:35] eviltak opened #32 "Async test results aren't displayed in Xamarin Studio 6.0.1 on OSX"
Running async tests through this plugin seems to have no effect. The Test Results page shows the test result section for the test, but with no status. The same tests execute and return the desired results when run from the [xUnit Console Runner](https://www.nuget.org/packages/xunit.runner.console).

![screen shot 2016-07-04 at 20 58 50](https://cloud.githubusercontent.com/assets/8018181/16565345/4

[2016-07-04 16:01] eviltak commented on #32
After doing some debugging, looks like the extension _does_ get the correct results, but is not able to show them in the Test Results window. Whenever the Unit Tests window is refreshed (i.e. a small synchronous test is run), the icon beside the test shows the correct result.

[2016-07-05 04:57] lextm commented on #32
Thanks for reporting this. As we are moving to a new architecture soon (see #31), will check if that resolves this, as well as other known issues.

[2016-07-05 04:59] lextm commented on #26
A very early prototype is now in #31. Will improve it and merge once it is ready.

[2016-07-05 07:48] eviltak commented on #32
After doing a lot more debugging, looks like the [xUnit Runner Utility](https://www.nuget.org/packages/xunit.runner.utility/) package does not make the process wait till the test is finished. I'm looking for a solution, but it looks like the problem is in the runner package. There is a hacky workaround, but I don't think that it is a _good_ workaround.

[2016-07-05 07:58] eviltak commented on #30
[This](https://github.com/xunit/xunit/blob/6381c93738860481af501a2372f796492b6e8d42/src/xunit.runner.utility/Frameworks/XunitFrontController.cs#L117) is the line of code in the xUnit Runner Utility that is throwing this exception. Looks like a problem with your project setup. Have you added the xUnit.net NuGet packages?

[2016-07-05 08:26] lextm commented on #30
Per #31 we are moving to a new design, so this bug was added just for tracking. If it does not happen after the cut-over, then will close it.

[2016-07-05 09:24] eviltak commented on #30
Alright, do you have any milestones or a timeline? I'd love to help out.

[2016-07-05 23:38] lextm commented on #30
You can review the changes in #31 and test it out on Windows/Linux/macOS. Then any feedback can be left there.

[2016-07-09 01:27] lextm commented on #32
BTW, I tested this with Xamarin Studio 6.0.1 and 0.6.6 release of this add-in, and could not reproduce this issue. Maybe you should update to 0.6.6 first.

[2016-07-10 12:08] lextm opened #33 "Cancellation does not work after #31"
#31 introduces the new design, so cancellation support must be explored and added back.

[2016-07-10 12:09] lextm opened #34 "Case discovery does not work for all projects after #31"
Some projects lead to failure in case discovery. Will explore and see why.

[2016-07-10 12:10] lextm commented on #26
Closed by #31.

[2016-07-10 12:10] #26 closed, assigned to nobody

[2016-07-10 12:27] lextm commented on #25
Tested after merging #31. Now it runs on Windows without any issue. Will publish a new build to add-in repo once we solve other remaining issues.

[2016-07-10 12:27] #25 closed, assigned to nobody

[2016-07-10 12:29] lextm commented on #32
Tested after merging #31 and still could not reproduce this issue. Close it now. Please reopen if more info can be shared.

[2016-07-10 12:29] #32 closed, assigned to nobody

[2016-07-10 12:30] lextm commented on #30
Close it now. Will reopen if I can reproduce it after merging #31.

[2016-07-10 12:30] #30 closed, assigned to nobody

[2016-07-10 12:38] lextm commented on #34
Just found the same project failed on OS X but worked on Windows. Will further analyze. It might be related to cache.

[2016-07-12 12:37] lextm commented on #34
Further analysis shows that for such projects, a compilation without errors can trigger the correct test cases to appear in Unit Testing panel.

Therefore, close it as won't fix.

[2016-07-12 12:37] #34 closed, assigned to nobody

[2016-07-12 12:46] lextm opened #35 "Case discovery does not work for xUnit.net v1"
Not supported yet.

It is recommended that you upgrade from v1 to v2.

[2016-07-13 06:37] #11 closed, assigned to lextm

[2016-07-20 13:36] roman-yagodin opened #36 "Unrecoverable error loading theory tests"
I've encountered this error trying add a test which have `TheoryAttribute` and `MemberDataAttribute` on opening _Unit Tests_ pad (MonoDevelop 5.10) or just solution load (MonoDevelop 6.2).

MonoDevelop 6.2 (from git), xUnit addin 0.6.6:

[code]

MonoDevelop 5.10 (from official Xamarin repo for Debian), xUnit addin 0.5.5:

[code]

Using InlineDataAttribute seems to go fine.

Now a strange thing. Th

[2016-07-21 16:10] mrward opened #37 "Unit tests tree collapses after a build"
To reproduce:

1) Create a project with a couple of XUnit tests.
2) Build the project.
3) Open the Unit Tests window and expand the tree and select a test.
4) Edit a test so a build will be triggered.
5) Build the project. (Alternative to 4+5 is to rebuild the project).

Expected result:

Test selected in Unit Tests window remains selected and visible.

Actual result:

Tree is collapsed.

Environm

[2016-07-22 07:39] lextm commented on #36
For MonoDevelop 6.2, can you upgrade to 0.6.7 release of this extension? That's the latest build,

http://addins.monodevelop.com/Project/Index/220

It would be tricky for us to fix 0.5.5 release though, but we will take a look.

[2016-07-22 07:56] roman-yagodin commented on #36
Just the same thing with MonoDevelop 6.2 and xUnit addin 0.6.7.

This is full execution log of a run which ended with a crash on solution load:

[code]

[2016-07-22 08:04] lextm commented on #36
Thanks. Very useful info. Will do some investigation this weekend.

[2016-07-22 13:17] lextm commented on #36
Fixed in both master and 5.0 branches. Will soon publish new releases for you to test out.

[2016-07-22 16:48] mrward opened #38 "No test failure information when test fails and test class Dispose also fails"
When a test throws an exception and the test class has a Dispose method that also fails there is no error information reported. The Tests Results window shows 0 tests have run.

To repro:
1. Create a new xunit project.
2. Add the test class as shown below:

[code]
1. Build and run the tests.

Expected result:

Error information is available in Test Results window. If that is not possible then show

[2016-07-25 13:05] roman-yagodin commented on #36
Unfortunately, all the symptoms remain. Full execution log for MonoDevelop 6.2 and xUnit addin 0.6.8:

[code]

[2016-07-25 14:49] lextm commented on #36
Can you send the sample that can reproduce this issue to me at support@lextm.com?

[2016-07-26 05:57] roman-yagodin commented on #36
I've pushed code to https://github.com/roman-yagodin/R7.Epsilon/tree/bug/xamarinstudio.xunit-36 branch. See `CustomPortalConfigTests.cs` file in the `R7.Epsilon.Tests` project.

[2016-07-26 12:38] lextm commented on #36
Reopen it as I can reproduce it now.

[2016-07-26 13:11] lextm commented on #36
Further analysis shows a completely different issue from what I fixed in a3ee9d140a0ba1e39870e395e71e5638c5d9ccb2

A strange behavior of xUnit.test leads to a crash in the test case info parser. Will close this issue and open a new one to track it.

[2016-07-26 13:11] #36 closed, assigned to nobody

[2016-07-26 13:13] lextm opened #39 "xUnit.test shrinks display name of test cases in certain cases and crashes this add-in"
As #36 indicates, there are still crashes after a3ee9d140a0ba1e39870e395e71e5638c5d9ccb2

The sample project shows the test cases all have pretty long parameters, which leads to xUnit.net's strange behavior to shrink the display names.

https://github.com/roman-yagodin/R7.Epsilon/blob/bug/xamarinstudio.xunit-36/R7.Epsilon.Tests/CustomPortalConfigTests.cs

The test case info parser must be upgraded

[2016-08-06 11:05] lextm commented on #39
Fixed in master branch by 1d7aa1c50a105ad85dcc15af510b54860b336fa3 and in 5.0 branch by d598b4e0cd0c935a45c0f86adf13ec218aab496b

[2016-08-06 11:05] #39 closed, assigned to lextm

[2016-08-06 11:07] lextm commented on #36
@roman-yagodin I have published 0.5.7 (for XS/MD 5.x) and 0.6.9 (for XS/MD 6.x) which fixed both #39 and this issue. Can you test again?

[2016-08-09 05:33] roman-yagodin commented on #36
Many thanks! I tested both 0.5.7 and 0.6.9 xUnit addin versions and it seems like issue is fixed - no more IDE crashes, data passes to theory tests just fine.

[2016-08-10 02:46] lextm commented on #36
@roman-yagodin Thanks for the confirmation.

[2016-08-14 00:34] #37 closed, assigned to nobody

[2016-08-15 15:24] chamons opened #42 "System.IndexOutOfRangeException in XUnitRunner"
From twitter: https://twitter.com/GeoffreyHuntley/status/765068976250429440

Stacktrace: https://pbs.twimg.com/media/Cp4SHEyVMAEdDE_.jpg

Asking for more details to be posted here.

[2016-08-16 00:08] ghuntley commented on #42
# MonoDevelop

[code]

# Redacted csproj

[code]

[2016-08-16 00:12] ghuntley commented on #42
Both `[Facts]` and `[Theory]` with `InlineData("")` are used in the unit tests. `Assert.Blah` is not used, instead fluent assertions is used instead. MonoDevelop crashes instantly when the project is loaded, only way to use monodevelop now is with the xunit addin (v0.6.10) disabled. I've created a branch within my codebase, teach me how to debug this and I'll PR you.

[2016-08-16 08:00] lextm opened #43 "Add a console output to add-in initialization to print version number"
As #42 shows, it is currently impossible to tell the version of this add-in from Xamarin Studio output. Should add a line somewhere.

[2016-08-16 08:02] lextm opened #44 "Enable easy debugging"
After the change in #26 it becomes tricky to debug the code. Should provide a simple way by patching some of the code.

[2016-08-16 08:03] lextm opened #45 "Stop exceptions from crashing Xamarin Studio/MonoDevelop"
Currently it crashes Xamarin Studio/MonoDevelop, so we need a way to prevent that.

[2016-08-16 12:38] lextm commented on #44
Initial implementation is in f129bf81209e80337e8bd03f229f642c075925ec

By commenting out the external runner section and uncommenting the inner runner section, this add-in can still run xUnit functions inside the IDE process. This can be useful to debug issues such as #42

[2016-08-16 12:40] lextm commented on #42
@ghuntley can you check out the latest commits and then follow the "easy debugging" guide to debug the issue? I just implemented the case discovery part in XUnitTestLoader, and it should be enough for you.

The other steps are in the contributing guide,

https://github.com/xunit/xamarinstudio.xunit/blob/master/CONTRIBUTING.md

[2016-08-17 12:29] lextm opened #46 "A strange exception from MonoDevelop side"
An exception related to #42

[code]

[2016-08-17 12:39] lextm opened #47 "Newly created test cases do not appear after compilation"
After #37 it seems that
1. Open a xUnit.net project. See existing test cases are displayed in unit test panel.
2. Add a new test case and compile the project.
The new test case fails to appear.

[2016-08-17 12:45] #46 closed, assigned to nobody

[2016-08-17 13:06] #44 closed, assigned to nobody

[2016-08-17 13:12] lextm commented on #44
By defining a new symbol `EASY_DEBUGGING` for MonoDevelop.UnitTesting.XUnit project, the out-of-process test case execution mode can be changed to in-process mode. Then some issues can be debugged in a more efficient way.

Debugging this add-in should start with the contributing guide,

https://github.com/xunit/xamarinstudio.xunit/blob/master/CONTRIBUTING.md

[2016-08-19 06:39] ghuntley commented on #42
- [x] Re-enable latest xUnit Addin and loaded project to confirm crashes happen.
- [x] Disabled (not removed) AddIn.
- [x] Cloned xamarinstudio.xunit and defined `EASY_DEBUGGING` symbol.
- [x] Xamarin Studio when `xamarinstudio.xunit` is debugged spawns a new xamarin studio instance.
- Unable to breakpoint the debuggable XS instance, it just won't resolve breakpoints
- Unit tests are detected.
- E

[2016-08-19 06:46] ghuntley commented on #42
Hooked, stand by.

[2016-08-19 08:06] ghuntley commented on #42
See https://github.com/xunit/xamarinstudio.xunit/blob/master/XUnitRunner/XUnitRunner.cs#L124-L133 which was modified as follows

![screen shot 2016-08-19 at 6 04 01 pm](https://cloud.githubusercontent.com/assets/127353/17803087/5d2e0210-6637-11e6-90fc-edfbd651b27b.png)

Locals as follows

[code]

[2016-08-20 02:20] Aaronontheweb commented on #45
I hit this issue tonight - fails on MonoDevelop 5.10 latest running the XUnit plugin version developed for MD 5.10 on Ubuntu 16.04 LTS

[2016-08-20 03:22] #45 closed, assigned to nobody

[2016-08-20 04:57] lextm commented on #42
@ghuntley I can now reproduce it with the latest info you shared. It is related to the test case name sent from xunit.net to this add-in, where the tree construction fails to handle.

Will do more investigation to see how to fix it.

[2016-08-20 06:01] lextm opened #48 "Some test cases do not run"
Some cases will trigger xUnit.net warnings, which do not run properly,

[code]

They run fine if switched to easy debugging mode #44

[2016-08-20 06:05] lextm commented on #42
Initial fix comes in c840c349131e251a5b3b7a3b9736ef0614d55347 . I will publish a new version 0.6.11. But it does suffer a test case naming issue still, where non-string input parameters are formatted as strings. That will be a separate issue to resolve.

[2016-08-20 06:05] #42 closed, assigned to nobody

[2016-08-20 06:08] lextm opened #49 "The new test case name parsing code does not format parameters perfectly"
Due to the design of xUnit.net itself, the display names from it might be shortened unexpectedly. This add-in uses its own algorithm to build display names afterwards, but it currently treats all input as strings (except `null`). This would look weird to users, so need some further tuning.

[2016-08-20 07:59] ghuntley commented on #42
You're the best! <3

[2016-08-20 10:33] lextm commented on #35
Close this now, as it is not likely to be worked on.

[2016-08-20 10:33] #35 closed, assigned to nobody

[2016-11-10 23:56] #33 closed, assigned to nobody

[2016-11-16 13:10] #43 closed, assigned to nobody

[2016-12-05 20:26] zorthgo opened #50 "Test aren't being discovered [VS for Mac]"
Hi Guys, I am having an issue with xUnit and Visual Studio for Mac. None of my tests are being discovered.

These are the steps that I went through to test this issue:

1 - I created a test application on my Visual Studio on Windows.
2 - Ran my unit tests (they work fine)
3 - Commit the solution to git.
4 - Pull the solution to my Visual Studio for Mac
5 - Ran the tests (No go. They aren't being d

[2016-12-06 03:33] lextm commented on #50
Visual Studio for Mac is not yet a supported environment of this addin. You have to wait.

[2016-12-06 04:48] zorthgo commented on #50
Thanks for the reply!... So I am assuming that there are plans to support it?... :0)

[2016-12-06 05:29] lextm commented on #50
Whether a plan is needed depends on how VS for Mac is going to evolve. If it decides to fully use VS for Windows unit testing infrastructure, then you should be able to directly use the VS xUnit.net runner instead of this addin.

Thus, I don't think any action will be executed in the coming weeks until Microsoft shares more insights on their side and a RC build of VS for Mac is published for testi

[2016-12-06 05:32] zorthgo commented on #50
Fair enough!... Thanks for the insight. ;0)

[2016-12-06 13:18] lextm commented on #50
Just did some experiments. Microsoft/Xamarin do not yet provide a way to build/test/publish Visual Studio for Mac extensions. Hope it won't be a long wait though.

[2016-12-06 16:18] zorthgo commented on #50
Thanks for looking further into it. I greatly appreciate it!
Me as well, I hope it doesn't take too long. Until then, I can't really use VS for Mac for any serious programming.

[2016-12-12 18:38] brandonrisell opened #51 "Addin called 'Dumb addin' within Xamarin Studio"
This threw me off, but when I search for this addin within Xamarin Studio or even manually download and install it, it is referenced as the `Dumb addin`. I searched this github repo and see no reference to the word Dumb. Is this intentional?

XS Version: 6.1.2 (Build 44)
xUnit addin version: 0.6.99

[2016-12-12 18:39] brandonrisell commented on #51
<img width="641" alt="screen shot 2016-12-12 at 10 38 37 am" src="https://cloud.githubusercontent.com/assets/1037386/21111622/34ad2bb6-c057-11e6-9143-936756ff8176.png">

[2016-12-13 06:29] lextm commented on #51
That's just the dumb one.

This add-in should be downloaded from http://addins.monodevelop.com/Project/Index/220

[2016-12-13 19:29] brandonrisell commented on #51
I did download and install from there, that's what the screenshot above is of. I uninstalled, restarted, and then tried downloading and installing from that link just now to verify.
<img width="293" alt="screen shot 2016-12-13 at 11 27 49 am" src="https://cloud.githubusercontent.com/assets/1037386/21155528/555e1a20-c127-11e6-8af5-4c833ebf46a5.png">

[2016-12-29 16:56] vkoppaka commented on #51
I see the add-in being called "Dumb addin" when installed from the link above as well.

[2017-01-01 08:48] lextm commented on #51
The addin web site has experienced some issues recently. Unless Xamarin/Mono guys fix that, I won't be able to provide any guidance.

[2017-01-04 01:29] jukafah commented on #51
The 6.0 links are 404'ing: http://addins.monodevelop.com/Project/Index/220

[2017-01-12 13:21] lextm commented on #51
Xamarin has just fixed the back end services, so now you can download the latest addin from http://addins.monodevelop.com/Project/Index/220

I just tested and it should now serve the correct build.

[2017-01-12 13:22] #51 closed, assigned to nobody

[2017-01-21 12:35] lextm commented on #50
@zorthgo Luckily with latest VS for Mac build and MonoDevelop.Addins package I can ship a test build,

https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.0

Please try it out and report back any issue you met.

[2017-01-21 12:35] #50 closed, assigned to nobody

[2017-01-31 02:00] zorthgo commented on #50
Hi Lextm, thanks a lot!... I've been having issues with VS for Mac and couldn't test your extension until today. But after testing, I am still not able to run my unit tests. I installed:
- Your extension
- Xunit (2.2.0-beta5-build3474)
- Xunit Console Runner (this is because the Visual Studio runner wouldn't install)

But when I rebuild, none of the tests show up. Do I need to install anything els

[2017-02-01 09:48] lextm commented on #50
Can you test using xUnit.NET 2.1.0 assemblies? I have no plan yet for 2.2.0 as that's still beta bits.

[2017-02-01 10:00] lextm opened #53 "Test projects using xUnit.net 2.2.0 beta might not work"
Related to #50

As xUnit.net 2.2.0 is still in beta, this extension will not yet support it. Once it becomes stable, this extension would be updated.

[2017-02-04 16:35] zorthgo commented on #50
Ok, I tried testing with xUnit 2.1.0 but the xunit.assert package doesn't seem to be compatible with .net core. I keep getting the error message below when I try to add the xunit nugget package.

[2017-02-06 03:21] lextm commented on #50
Aha, I see. I will try to update the VS for Mac add-in version to 2.2.0 beta and then make a new download available. Then you can test if it works.

[2017-02-06 09:42] zorthgo commented on #50
Sounds great. Thanks! ;)

[2017-02-06 12:14] lextm commented on #53
Fixed in 0.7.1 release,

https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.1

[2017-02-06 12:14] #53 closed, assigned to nobody

[2017-02-06 12:15] lextm commented on #50
You can download 0.7.1 and let me know if it works,

https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.1

[2017-02-23 07:38] b-straub opened #54 "Project templates are not available"
As far I understand the XUnit addin will install project and file templates as well.
Neither on XS 6.2 nor on VS Mac Preview 3 the XUnit Library project will be available.

<img width="404" alt="vsm_xs_xunit" src="https://cloud.githubusercontent.com/assets/7459002/23249207/642dd766-f9a3-11e6-8576-ca17b4a1ea74.png">

[2017-02-23 17:39] #54 closed, assigned to nobody

[2017-02-23 17:41] lextm commented on #54
Xamarin has changed the NUnit templates, so I now edit the xUnit templates accordingly. New releases would be pushed to repo feeds soon.

[2017-02-28 11:40] b-straub opened #55 "No support for Nuget v3 Api"
When adding the XUnit package using the most recent Nuget API (v3), support started with XS 6.1
[NuGetSupportInXamarinStudio6.1](http://lastexitcode.com/blog/2016/09/17/NuGetSupportInXamarinStudio6-1/), the XUnit tests will not be recognized.

XUnitProjectTestSuite.CreateTest just scans for XUnit references in the project file but should also scan the project.json. The project file itself will not

[2017-02-28 12:51] lextm commented on #55
I will do some investigation but generally speaking `project.json` is not going to be supported so I don't expect it to be work.

[2017-02-28 13:28] b-straub commented on #55
It's working pretty well:
Use XS 6.2 and create a PCL with a test class and add Xuint 2.1.0 using the Nuget V3 datasource.
A project.json will be created automatically.
Test panel will not show any tests.
Unload the project and add manually a reference to Xunit in the project file. Reload and tests will appear now and can be executed.

Using Xunit 2.2.0 didn't work for me as well as using a netsta

[2017-02-28 17:00] lextm commented on #55
I think this issue is more complex than the description. xUnit.net 2.2 release introduces many breaking changes which can affect this extension. I won't be able to address this any time soon.

Appreciated if anyone in the user community can step up.

[2017-03-03 10:23] b-straub commented on #55
I implemented the needed support.

Note: VS Mac also supports the new VS 2017 .NetCore project format, extending the unit reference detection to this format will be easy but currently neither XUnit or this addin are supporting .NETCore projects.

[2017-03-03 23:39] lextm commented on #55
Thanks for the PRs.

Personally I believe the future is MSBuild 15 new schema, where NuGet packages become just like any other references, and `project.json` is gone. Of course, that means we will have to upgrade to xUnit.net 2.2.x, which contains some breaking changes, which I am not yet ready to address.

Let's leave it as it is for a while to see if others have better options.

[2017-03-03 23:40] lextm opened #58 "Upgrade to xUnit.net 2.2.x"
The 2.2.0 release of xUnit.net is available finally, but it contains many breaking changes so far.

If anyone can finish the upgrade before me, I am glad to review the PR and accept it.

[2017-03-04 10:39] b-straub commented on #55
OK. May be the next month will bring stable Xamarin support for MSBuild 15. Currently XS 6.2 doesn't support it and the VS Mac support is quite incomplete. I will close the request for now.

[2017-03-04 10:39] #55 closed, assigned to nobody

[2017-03-15 11:04] tougher opened #59 "Can't install on VS for Mac 7.0 build 1566"
It works perfect in the latest Xamarin Studio, but in the latest VS I get this screen when installing from the Extension Manager:
![screen shot 2017-03-15 at 11 52 20](https://cloud.githubusercontent.com/assets/10697/23945250/23831f72-0976-11e7-8a53-92a8ee2ffa2c.png)

There is a lot of changes in the latest VS build.

[2017-03-15 19:46] lextm commented on #59
Thanks for the feedback. AddinMaker has just been updated so I will take a look.

[2017-03-16 18:50] guardrex opened #60 "Tests not found with VS for Mac Preview 5"
![testfailure](https://cloud.githubusercontent.com/assets/1622880/24013360/2226b25e-0a4f-11e7-9f57-0cb74b38c473.png)

In spite of everything looking good for xUnit tests in VS for Mac Preview 5 (current release), when I try to run them with the IDE, it throws "Test discovery failed." If I run from Terminal, the test runs fine.

For the failure using the IDE, is this a known issue?

[2017-03-16 18:55] lextm commented on #60
Related to #59

I just found a few underlying changes made in the common unit test base classes, which requires significant changes and testing in this addin. Thus, won't be a quick fix.

[2017-03-16 18:56] guardrex commented on #60
@lextm Fair enough ... still preview. I'll just have the tutorial continue to say that they should use the Terminal to run them. I'll track on this issue. When it gets fixed, I'll update the doc. Thanks for your help.

[2017-03-16 21:14] guardrex commented on #60
@lextm Just want to add one more related note here: Because the test runner fails, you can't use the Play button or the *Start ...* from the *Run* menu when a test project is present in the solution. It tries to run the tests.

I tried to stop it with a `FactAttribute` that sets a `Skip` on my two test methods, and I also tried to use compiler directives to disable the test methods. Those two appr

[2017-03-20 19:32] Javier-Rotelli commented on #50
Hi!
I'm trying to use this extension, but it's not working.
it shows this message when i try to install it
![image](https://cloud.githubusercontent.com/assets/5343874/24117926/c49e9c8e-0d8a-11e7-8815-e137d28b4935.png)

[2017-03-20 21:03] lextm commented on #50
@Javier-Rotelli are you sure you are installing the right extension? The text clearly points to another add-in.

[2017-03-20 21:11] Javier-Rotelli commented on #50
@lextm not 100% sure.
in the entension manager it says: "xUnit.NET 2 testing framework support", also, it's the only one that shows up when i search for "xunit" in the gallery.

maybe the error is coming from a dependency?

[2017-03-20 21:38] Javier-Rotelli commented on #50
@lextm nevermind, that error seems to be unrelated, disabling the ios develop extension and restarting visual studio got it working. if you want i'll delete my replies as those only polute this thread.

Cheers!

[2017-04-01 14:06] EltonGarcia commented on #60
Facing the same problem! :/

[2017-04-17 01:41] lextm commented on #60
xUnit.net based .NET Core testing can run properly without this extension. So I think probably it is time for Xamarin/Microsoft to take over the responsibility.

[2017-04-21 03:48] lextm commented on #59
It seems to install fine now in latest preview builds, though still suffers #60.

[2017-04-21 03:48] #59 closed, assigned to nobody

[2017-04-23 18:39] lextm opened #61 "The remote xunit runner does not work as expected"
This is a follow-up item for #60 .

The runner returns empty results for test cases so that no test case can be discovered. Some debugging is required.

[2017-04-23 18:40] lextm commented on #60
Shipped 0.7.3 release to address the general usage,

https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.3

However, this build disables the remote unit test runner, so it might lead to other issues.

Another release would be shipped once #61 is fixed.

[2017-04-23 18:40] #60 closed, assigned to nobody

[2017-04-25 02:12] lextm commented on #58
Done in v0.7.4.

Limitation is that xUnit.net 2.1.0 is no longer supported.

[2017-04-25 02:12] #58 closed, assigned to nobody

[2017-04-25 02:12] lextm commented on #61
Fixed in 0.7.4.

[2017-04-25 02:12] #61 closed, assigned to nobody

[2017-05-11 09:10] azinoviev opened #62 "Test debug doesn't work for xUnit.net 2.3.0 beta 1 (.NET Core)"
Visual Studio for Mac (release, but the same actual for previous betas)
.NET Core 1.1.1
XUnit 2.3.0-beta1-build3642
xamarinstudio.xunit 0.7.2 and 0.7.5

Tests run fine, but when I try to debug any test I see debug screen layout for a second and then it stops debug process without any messages. Application output doesn't show any errors (only a lot of "Loaded '...'" messages).

[2017-05-12 15:41] lextm commented on #62
So far I think xUnit.net 2.2.0 is the only supported version. <2.2.0 is no longer supported due to the runner binding to 2.2.0.

You are using xUnit.net 2.3.0 beta1, so I am not sure what might happen. Can you roll back to 2.2.0? Any specific reason to use 2.3.0?

[2017-05-12 15:55] lextm opened #63 ".NET Core based projects are not supported for discovery"
This extension depends on MonoDevelop project model to detect if a project links to xUnit.net assemblies. Since .NET Core projects use package references while MonoDevelop project model does not yet expose such explicitly, no test case discovery would be triggered right now.

Temporary workaround is to use a traditional class library to host your test cases. Ultimate solutions are being investigat

[2017-05-12 17:01] azinoviev commented on #62
Unf. with version 2.2.0 plugin unable to discover any test.

[2017-05-12 17:23] lextm commented on #62
Are you working on a .NET Core console app as Microsoft suggests? Then #63 is already known.

[2017-05-12 17:32] azinoviev commented on #62
Yep, .NET Core App. I used 2.3.0 beta1 because test discovery works with it.

[2017-05-12 19:15] lextm commented on #63
Fixed project detection in 4a4b4b8827da684ae0d1b023af8e08924b601966 but test cases are not loaded yet.

[2017-05-13 14:56] lextm commented on #62
http://xunit.github.io/docs/getting-started-dotnet-core

Overall, .NET Core test projects (1.x) are processed by Visual Studio for Mac, not this extension. I guess it uses `dotnet test` related infrastructure。

xUnit.net 2.3 seems to implement a new approach (dotnet xunit), which does not fall under `dotnet test`. Thus, Visual Studio for Mac cannot work with that yet. I don't plan to update this e

[2017-05-13 15:08] lextm commented on #63
This is very likely to be part of Visual Studio for Mac itself, as it should use `dotnet test` related infrastructure to discover and execute test cases.

[2017-05-13 15:08] #63 closed, assigned to nobody

[2017-05-29 15:50] JeremyButts opened #64 "Cannot find tests"
Receive the following message when running tests.

Can't get source code location for: <project>

[2017-06-07 02:51] guardrex commented on #61
Hello @lextm! I was wondering how the release for these fixes (here and #60) work given the versions in the wild ... Do these changes take effect on the next stable release of xunit, which would be v2.3.0 (when that ships)?

Also, I don't understand your comment over on #60 ...

Wondering how that relates to the xUnit running from within the VS for Mac IDE with these #60 and #61 fixes? ... Are Xam

[2017-06-07 03:07] lextm commented on #61
So to be clearer.

* If your project type is .NET Core based, then xUnit.net support is provided by .NET Core infrastructure, and Visual Studio for Mac by default. You can run test cases without even installing this extension.
* If your project type is .NET Framework/Mono based, then this extension provides you the ability to run/debug xUnit.net test cases.

Currently this extension is only tested

[2017-06-07 03:18] guardrex commented on #61
@lextm Thanks for explaining. I couldn't get it to work again (same result as I show in #60) with the release version of VS for Mac with the 15.0.0 version of MSTest and the 2.2.0 version of xUnit running a `netcoreapp1.1` project. Actually, it's the exact project I have in the [.NET Core tutorial](https://docs.microsoft.com/en-us/dotnet/core/tutorials/using-on-mac-vs-full-solution). It's Step 8 t

[2017-06-08 02:59] lextm commented on #61
@GuardRex You can uninstall this extension (and restart VS for Mac) and test again, before reporting to Microsoft. I think it is something Microsoft/Xamarin should take care of, instead of me.

[2017-06-09 15:56] jj09 opened #65 "[Visual Studio for Mac] Install from file required"
Currently, in order to make this plugin work in VS for Mac you need to manually download extension from https://github.com/xunit/xamarinstudio.xunit/releases and then 'install from file...'

Are there plans to make it working by installing from 'extensions directly'?

[2017-06-09 16:06] lextm commented on #65
At this very moment, VS for Mac extension site is not as stable as it can be. Thus, we have the file available at GitHub for manual installation. Meanwhile, you can check the version in Extension Manager to see whether it is the latest.

[2017-06-14 17:15] lextm commented on #61
@GuardRex can you test with the attached test solution? It works fine on my machine with VS for Mac, and no xamarinstudio.xunit installed.

[dotnetcore.zip](https://github.com/xunit/xamarinstudio.xunit/files/1075366/dotnetcore.zip)

[2017-06-14 17:30] guardrex commented on #61
I'm good ... the sample for the doc is working fine now from the IDE. The only unresolved issue is the VSMac UI label content describing the tests, and it turns out that they knew about it a few weeks ago: https://bugzilla.xamarin.com/show_bug.cgi?id=56921

Thanks again :beers: for your help!

I know you said on the docs issue that given we're showing a Core app it makes sense to not worry about t

[2017-06-16 18:50] #65 closed, assigned to nobody

[2017-06-16 18:51] lextm commented on #64
Please provide more information (like something for me to reproduce it ideally).

[2017-06-16 18:51] #64 closed, assigned to nobody

[2017-06-16 18:57] Jonas1197 opened #66 "Visual Studio for Mac does not detect my Tests"
I have added xUnit as an extension and restarted the IDE. I have created a new xUnit Test project in my solution and wrote some code. Afterwards I went to [Run >> Run unit Tests] but this option appears to be grayed-out and I cannot click it. Does VS for Mac support yet xUnit?

Thanks in advance.

[2017-06-16 19:09] lextm commented on #66
Try to manually install release 0.7.6,

https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.6

A nasty bug has been fixed and it should work fine now.

[2017-06-16 19:28] Jonas1197 commented on #66
@lextm Thank you very much, the issue has been fixed! 👍

[2017-06-16 20:06] #66 closed, assigned to nobody

[2017-06-20 07:50] parthopdas opened #67 "Unable to get xunit tests in Unit Tests toolwindow"
I am using VS4Mac v7.0.1 (build 24).
I tried with both the v0.7.5 (from gallery) and v0.7.6 from releases.

With the latter configuration i get the tests listed but I cannot run them. With the former, the tests arent listed.

I have tried with both xunit 2.2.0 and 2.1.0.

Any ideas I can try next? Or how I can get additional diagnostic information?

[2017-06-20 07:51] parthopdas commented on #67
Also is there a reason why this adding is coupled to a particular version of xUnit?

The xunit adapter for Visual Studio for Windows works with any xunit version. And it seems, the nunit addin for vs4mac works with any version of nunit as well.

[2017-06-22 07:49] parthopdas opened #68 "Unable to build solution on macOS"
I have VS4Mac v7.0.1 b24.

On opening the solution in the IDE, I restore the nuget packages and then trigger build.

I get about 275 errors most of them appear to be due to mono/monodevelop references being not found. e.g.
/Users/partho/src/gh/xamarinstudio.xunit/MonoDevelop.XUnit/Properties/AddinInfo.cs(11,11): Error CS0246: The type or namespace name 'AddinAttribute' could not be found (are you

[2017-06-22 19:50] #68 closed, assigned to nobody

[2017-06-22 20:05] #67 closed, assigned to nobody

[2017-06-22 20:08] lextm commented on #67
It is much easier to support only one version of xUnit.net, so we used to only support 2.1.0 before 2.2.0 is released. So now with 2.2.0 released, the support version changes to 2.2.0.

Note that this means if you meet any issue with xUnit.net 2.2.0 the current maintainer of this repo would officially take a look at it. This extension might still work for 2.1.0 or 2.0.0, but due to limited resourc

[2017-08-05 09:23] Dids opened #70 "Test pad breaks after exceeding 9 test methods (facts)"
Unit test project is using .NET Core 2.0 (2.0.0-preview2-25407-01) and the following packages:
[code]

Test pad with 9 test methods:
![Working with 9 methods](https://www.dropbox.com/s/21gcyoudqzbnv2v/Screenshot%202017-08-05%2012.20.01.png?dl=1 "Working with 9 methods")

Test pad with 10 test methods:
![Broken with 10 methods](https://www.dropbox.com/s/wabkcq3cr0kerpu/Screenshot%202017-08-05%2012.

[2017-08-05 09:25] Dids commented on #70
Running the tests manually (ie `dotnet test`) works fine, so to me it looks like a bug in the extension.

[2017-08-05 09:33] Dids commented on #70
Additionally, if I click the circle next to the test method (in the IDE), then hit run/debug, it only builds the project and doesn't actually run it/test it.

[2017-08-05 16:14] lextm commented on #70
You can uninstall this extension to verify. .NET Core projects do not rely on this extension, and issues like this should be reported to Microsoft/Xamarin.

[2017-08-07 06:09] Dids commented on #70
You are correct, thank you & apologies, I'll forward it to Microsoft. :)

[2017-08-07 06:09] #70 closed, assigned to nobody

[2017-09-14 09:55] patrycjapico commented on #50
Hi guys
I end up in that topic looking for a solution for my problem which was quite similar but might not be the same. I found out what the cause was and wanted to share in case someone has the same issue.

So I could not restore xunit.assert package on my Mac in Visual Studio Community for Mac version 7.1.3 (build 1) in any of my test projects. I tried to do that manually, the message was that "

[2017-09-17 19:36] Dorokhov opened #71 "Add an option to run xunit tests in x64 environment?"
Can I run xunit tests in x64 environment?

[2017-09-17 20:30] lextm commented on #71
Not quite sure how to provide x86/x64 switch yet. Will investigate.

[2017-09-18 09:32] Dorokhov opened #72 "Test is not running and displaying NullReferenceException in the output"
**Environment**
- [ ] Extension version: 0.7.8
- [ ] Visual Studio for Mac version: 7.1.3 (build 1)
- [ ] Operating System version: 10.11.6 (OS X El Capitan)
- [ ] xUnit.net assembly version: 2.2.0

**Expected behavior**
The plugin should run the test successfully

**Actual behavior**
The test prints NullReferenceException

**Detailed Steps to reproduce the problem**
1. clone the source code from

[2017-09-21 10:40] michaelgobbers commented on #72
Same issue here.

[2017-09-21 17:09] lextm commented on #71
https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.9

0.7.9 release forces the runner to run as x64. Will further explore the opportunity to provide IDE based switch between x64 and x86.

[2017-09-21 17:15] lextm commented on #72
（**This issue can be reproduced under [0.7.9 release](https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.9).**）

The call stack shows the issue inside MonoDevelop/Visual Studio for Mac (not this extension anymore). So merely debugging this extension won't easily tell what's the cause.

Will further investigate and see if Microsoft should be involved.

[2017-09-21 22:25] lextm commented on #71
https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.10 introduces `.runsettings` support to match Visual Studio convention.

[2017-09-21 22:25] #71 closed, assigned to nobody

[2017-09-28 03:27] #72 closed, assigned to nobody

[2017-09-28 03:31] lextm commented on #72
Please upgrade to 0.7.11 release.

[2017-09-28 14:01] lextm commented on #72
Reported to Xamarin as https://bugzilla.xamarin.com/show_bug.cgi?id=59805 Should review the changes once they make and port to this extension.

[2017-09-29 02:02] lextm commented on #38
Finally it turned out to be a MonoDevelop issue. I quickly patched it here for this extension in 0.7.12 and would report back to Xamarin Bugzilla.

Fixed in 155f34a8bd5012d557cfcc293a31672e6454e728.

The actual culprit that prevents this extension from showing the issue comes from two places.

First, the MonoDevelop code leads to a runner crash,
[code]
So no information is reported back to the ext

[2017-09-29 02:02] #38 closed, assigned to nobody

[2017-09-29 02:15] lextm commented on #48
Related to #38 . Thus, fixed in release 0.7.12.

[2017-09-29 02:15] #48 closed, assigned to nobody

[2017-09-29 02:16] lextm commented on #47
It does not seem to happen again in 0.7.12 release. Close it now.

[2017-09-29 02:16] #47 closed, assigned to nobody

[2017-09-29 02:17] lextm commented on #62
Stop .NET Core investigation as it would be handled by Visual Studio for Mac.

[2017-09-29 02:17] #62 closed, assigned to nobody

[2017-09-29 11:30] ghost opened #73 "Test shows as exception in Test Explorer"
**Environment**
- [ ] Extension version: 0.7.12
- [ ] Visual Studio for Mac version: 7.1.5 (build 2)
- [ ] Operating System version: macOS Sierra 10.12.4
- [ ] xUnit.net assembly version: xUnit 2.2.0

**Expected behavior**
Test show up in the test explorer

**Actual behavior**
Tests don't show up in the test explorer

**Detailed Steps to reproduce the problem**
Not really steps but more info about

[2017-09-29 14:29] lextm commented on #73
Can you provide a sample project to reproduce this issue stably? You can upload directly to this issue via GitHub if that's not confidential, or send to my mailbox at support@lextm.com if you want to keep it private.

[2017-10-09 14:51] RiteshRana10 opened #74 "Test shows as exception in Test Explorer after install and enabling xUnit nuget package in visual studio for mac in xamarin.forms application, Unit Test window is coming blank"
**Running .NET Core based unit test projects in Visual Studio for Mac does not require this extension.**
This extension is only needed if you want to run Mono based unit test projects.
Thus, don't report .NET Core based issues to this repo.

If troubleshooting does not reveal any useful information, provide the following information to create a new issue,

**Environment**
- [ ] Extension version:

[2017-10-10 00:57] lextm commented on #74
If you provide no information at all, no investigation would be given to this issue.

[2017-10-10 03:27] lextm opened #75 "xUnit 2.3 is not yet fully supported"
xUnit 2.3 has just been shipped and it comes with too many changes (moving to .NET Core 2.0 tooling and so on). Therefore, it would take a while to adapt to all such changes.

Pull requests are welcome if you would like to work on this.

[2017-10-10 04:37] RiteshRana10 commented on #74
![image](https://user-images.githubusercontent.com/8260631/31369494-92ab489a-ada2-11e7-9404-48a95abf0753.png)
![screen shot 2017-10-10 at 9 58 27 am](https://user-images.githubusercontent.com/8260631/31369503-a1886384-ada2-11e7-9158-6b76782eeb44.jpg)
 i am seeing these exceptions instead of name of the Unit test cases after writing unit test cases using xUnit in Visual studio for mac Xamarin.forms

[2017-10-10 04:40] RiteshRana10 commented on #74
These exceptions are shown in Unit Test case window in visual studio for mac, and if i am using nUnit test caes for same project its working perfectly fine, so my question is should i use nUnit for wirting unit test cases for xamarin forms or is it possible to do it using xUnit framework in visual studio for mac

[2017-10-10 13:21] lextm commented on #74
When you open a new issue here, I already provided a template for you to fill in all necessary details, but you don't. So merely the screen shots and short descriptions are almost useless.

Like I said, if you do want this issue to be addressed, provide more information.

Besides, if you happen to use xUnit.net 2.3, then any issue can happen, due to #75 .

[2017-10-10 13:22] lextm commented on #75
Initial testing shows that the 2.2.0 runners can execute some 2.3.0 based test projects without problems.

If you do hit some issues, a workaround is to temporarily downgrade the test projects to use xUnit 2.2.0 packages.

[2017-10-13 14:22] michaelgobbers commented on #73
We cannot provide you with a sample project but is there any way we can get you more logging information?

[2017-10-13 14:35] michaelgobbers commented on #73
[Ide.2017-10-13__16-05-46.log](https://github.com/xunit/xamarinstudio.xunit/files/1382917/Ide.2017-10-13__16-05-46.log)

These are some ide logs that contain the remoteprocessexception

[2017-10-14 01:23] lextm commented on #73
@michaelgobbers Based on the log, a sample project is surely required.

The call stack does not contain enough information on the culprit.

I have no plan to add more logging, as it would make things complicated. You would have to do some debugging on your own.

[2017-10-30 21:07] BrennanConroy opened #76 "Crashing VS for Mac"
This extension can crash VS for Mac on the following line:
https://github.com/xunit/xamarinstudio.xunit/blob/de98a27095fcd4aba0a684aa6e196b91158151b0/MonoDevelop.XUnit/MonoDevelop.UnitTesting.XUnit/SystemTestProvider.cs#L107
If you get a `(403) Forbidden` from the Rollbar API then you throw and cause a fatal error in VS for Mac.

[2017-10-31 13:53] lextm commented on #76
https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.12

You might disable reporting via the environment variable mentioned above.

[2017-10-31 23:46] therealjohn commented on #76
I've run into this issue to. @lextm what might I be missing?

[code]

[2017-10-31 23:55] therealjohn commented on #76
Doh, never mind. I misunderstood [how to set an env var on macOS](https://apple.stackexchange.com/a/106814). With it properly disabled, I've worked around the crash.

[2017-11-14 04:11] lextm commented on #76
You should upgrade to [0.7.15 release](https://github.com/xunit/xamarinstudio.xunit/releases/tag/v0.7.15).

[2017-11-14 04:11] #76 closed, assigned to nobody

[2017-12-05 01:28] lextm opened #77 "Please uninstall this extension as Visual Studio for Mac/MonoDevelop natively supports xUnit.net now"
Microsoft announced VSTest support in Visual Studio for Mac 7.3,

https://blogs.msdn.microsoft.com/visualstudio/2017/12/04/visual-studio-2017-version-15-5-visual-studio-for-mac-released/

This marks the end of this separate extension to hook xUnit.net with VS for Mac.

Please uninstall this extension and enjoy the built-in support.

[2017-12-05 01:30] lextm commented on #75
Please read #77 for more details.

[2017-12-05 01:30] #75 closed, assigned to nobody

[2017-12-05 01:30] lextm commented on #74
Please read #77 for more details.

[2017-12-05 01:30] #74 closed, assigned to nobody

[2017-12-05 01:31] lextm commented on #73
Please read #77 for more details.

[2017-12-05 01:31] #73 closed, assigned to nobody

[2017-12-05 01:31] lextm commented on #49
Please read #77 for more details.

[2017-12-05 01:31] #49 closed, assigned to nobody

[2017-12-05 01:31] lextm commented on #24
Please read #77 for more details.

[2017-12-05 01:31] #24 closed, assigned to nobody

[2017-12-14 21:14] lextm commented on #77
MonoDevelop 7 ships the same VSTest integration, so no other extension is needed either.

[2018-02-07 13:52] usr-sse2 commented on #77
How to make Visual Studio for Mac see tests without this plugin, if my project is for Mono? It seems to see them only for .NET Core.

[2018-03-13 20:20] roman-yagodin commented on #77
@usr-sse2, you could try this:

1. Add new tests project of type *.NET Core / Tests / xUnit Tests Project*.
2. Move your test classes to the new project.
3. Reference your non- .NET Standard project in the tests `.csproj` manually:

[code]

This works for me on Mono 5.10 and MonoDevelop 7.4 with only few quirks, like the рroject reference displayed with error "Incompatible target framework..."

Mo

[2018-03-14 03:23] lextm commented on #77
@usr-sse2 You need to add a few NuGet packages, including xUnit Visual Studio runner. Make sure Visual Studio 2017 can discover the test cases, and then Visual Studio for Mac and MonoDevelop 7.x on Linux should do the same.

@roman-yagodin I have no problem running Mono based projects. There seems to be no need to convert to .NET Standard projects.

[2018-03-14 06:10] roman-yagodin commented on #77
I really wish I won't need that, but I do have a problem with tests discovery in MonoDevelop 7.x both with and without the addin, so exploring the options. Would you provide more detailed migration path?

[2018-03-14 06:28] roman-yagodin commented on #77
Seems like just adding `xunit.runner.visualstudio` package fixed my tests discovery issues with MonoDevelop 7.4 w/o converting projects to .NET Core / .NET Standard - my thanks!

My `packages.config` file:

[code]

[2018-03-14 06:55] usr-sse2 commented on #77
It оказалось, that Visual Studio for Mac doesn’t find XUnit tests if both XUnit and NUnit are referenced in the same project. Removing NUnit reference fixed the problem.